<header class="flex px-8 py-2 justify-between items-center bg-slate-200">
	<a href="/" class="italic font-bold text-3xl text-blue-600 leading-none">
		Tripshare
	</a>
	<nav class="h-10 text-lg font-semibold text-black w-3/5 flex items-center justify-between">
<!--		<a href="/" class="hover:text-blue-500 transition-colors">Home</a>-->
		<a href="/trips" class="hover:text-blue-500 transition-colors">All rides</a>

		<% if (user) { %>
			<a href="/profile" class="hover:text-blue-500 transition-colors">Profile</a>
			<a href="/logout" class="hover:text-blue-500 transition-colors">Logout</a>
			<% } else { %>
				<a href="/login" class="hover:text-blue-500 transition-colors">Login</a>
				<a href="/register" class="hover:text-blue-500 transition-colors">Register</a>
				<% } %>
	</nav>
</header>