<header class="flex px-8 py-2 justify-between items-center bg-slate-200">
	<h1 class="italic font-bold text-3xl text-blue-600 leading-none">
		Tripshare
	</h1>
	<nav class="h-10 text-lg font-semibold text-black w-3/5 flex items-center justify-between">
		<a href="/" class="hover:text-blue-500 transition-colors">Home</a>
		<a href="/trips" class="hover:text-blue-500 transition-colors">All rides</a>
		<a href="/users/1" class="hover:text-blue-500 transition-colors">Account</a>
	</nav>
</header>