<form action="" method="get" class="flex flex-col ">
    <input type="text" placeholder="Search..." class="w-full h-10 rounded-md p-4 text-base">
    <label for="">Filters:</label>
</form>
<h1 class="mt-8">Available Rides</h1>
<ul>
    <% trips.forEach(trip=> { %>
        <li>
            <%= trip.from %> - <%= trip.to %> | <%= trip.date %> | Passengers: <%= trip.seats %>
        </li>
        <% }) %>
</ul>