<!DOCTYPE html>
<html>
<head>
    <title><%= user.name %></title>
</head>
<body>
<h1><%= user.name %></h1>

<a href="/users/<%= user.id %>/driver">My Rides</a>
<br>
<a href="/users/<%= user.id %>/passenger">Search for a Ride</a>

</body>
</html>