<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-900 flex items-center justify-center h-screen">
<div class="text-center p-6 bg-white shadow-lg rounded-lg">
    <h1 class="text-3xl font-bold">Error</h1>
    <p class="mt-4 text-lg"><%= message %></p>
    <p class="text-sm text-gray-500">Code: <%= error.status %></p>
    <br>
    <a href="/" class="mt-6 inline-block text-white bg-blue-500 px-4 py-2 rounded hover:bg-blue-600">Main page</a>
</div>
</body>
</html>